@import "../../../../../assets/_var.scss";

.roadmapSec {
  position: relative;
  background: url("../../../../../assets/Images/roadmap_bg.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

.roadmap_Slider {
  position: relative;
  margin-top: 150px;
  // max-width: 136.6rem;
  &:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: #24635e;
    background: repeating-linear-gradient(
        to bottom,
        transparent 0 4px,
        $greenclr 1.6rem 1.8rem
      )
      70%/2px 100% no-repeat;
    top: 0;
    bottom: 0;
    left: 50%;
    @media (max-width: 767px) {
      left: unset;
      height: unset;
    }
  }

  &_data_right {
    position: relative;
    max-width: 100%;
    margin-top: 20px;
    padding-right: 48px;
    @media (max-width: 767px) {
      margin: 0 0 4rem 0;
      max-width: 100%;
      padding-left: 25px;
      padding-right: 0px;
    }

    &_content {
      position: relative;
      top: -0.5rem;
      padding: 2rem;
      z-index: 2;
      border-radius: 1.6rem;
      background: #24635e;
      box-shadow: inset -3px 3px 12px #ffffff66;
      height: auto;
      @media (max-width: 767px) {
        top: 0px;
      }
      h3 {
        padding-left: 25px;
      }
      &::before {
        position: absolute;
        content: "";
        width: 3rem;
        height: 3rem;
        background-image: url(../../../../../assets/Images/roadmap_dot.png);
        background-size: cover;
        right: -8rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        @media (max-width: 767px) {
          left: -4rem;
        }
      }
      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 6rem;
        top: 50%;
        transform: translateY(-50%);
        right: -6rem;
        background: repeating-linear-gradient(
            to right,
            transparent 0 4px,
            $greenclr 1.4rem 0.2rem
          )
          70%/60px 100% no-repeat;
        @media (max-width: 767px) {
          left: -2rem;
          width: 2rem;
          background-color: $greenclr;
          // background: unset;
        }
      }
      &_date {
        font-family: $baseFont1;
        display: flex;
        align-items: center;
        align-items: center;
        text-align: left;
        margin-bottom: 15px;
        p {
          margin: 0;
          color: $white;
          font-weight: 600;
          font-size: 22px;
        }
      }
      ul {
        flex-direction: column;
        width: 100%;
        li {
          color: $white;
          font-size: 1.8rem;
          display: flex;
          align-items: baseline;
          font-weight: 300;
          @media (max-width: 991px) {
            font-size: 1.4rem;
          }
          @media (max-width: 767px) {
            font-size: 1.2rem;
          }
          span {
            margin-right: 1rem;
            img {
              width: 1.5rem;
            }
          }
        }
      }
    }
  }
  &_data_left {
    position: relative;
    max-width: 100%;
    margin-top: 20px;
    padding-left: 50px;
    @media (max-width: 767px) {
      margin: 4rem 0 0 0;
      max-width: 100%;
      padding-left: 25px;
      padding-right: 0px;
    }

    &_content {
      position: relative;
      top: -125px;
      z-index: 2;
      padding: 2rem;
      border-radius: 16px;
      background: #24635e;
      box-shadow: inset -3px 3px 12px #ffffff66;
      height: auto;
      @media (max-width: 767px) {
        top: 0px;
      }
      h3 {
        padding-left: 25px;
      }
      &::before {
        position: absolute;
        content: "";
        width: 3rem;
        height: 3rem;
        background-image: url(../../../../../assets/Images/roadmap_dot.png);
        background-size: cover;
        left: -8rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        @media (max-width: 767px) {
          left: -4em;
        }
      }
      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 7rem;
        top: 50%;
        transform: translateY(-50%);
        left: -7rem;
        background: repeating-linear-gradient(
            to right,
            transparent 0 4px,
            $greenclr 1.4rem 0.2rem
          )
          70%/50px 100% no-repeat;
        @media (max-width: 767px) {
          left: -2rem;
          width: 2rem;
          right: unset;
          background-color: $greenclr;
          // background: unset; 
        }
      }
      &_date {
        font-family: $baseFont1;
        display: flex;
        align-items: center;
        color: $white;
        text-align: left;
        margin-bottom: 15px;
        p {
          margin: 0;
          color: $white;
          font-weight: 600;
          font-size: 22px;
        }
      }
      ul {
        // display: flex;
        flex-direction: column;
        // align-items: baseline;
        width: 100%;
        li {
          display: flex;
          align-items: baseline;
          color: $white;
          font-size: 1.8rem;
          font-weight: 300;
          @media (max-width: 991px) {
            font-size: 1.4rem;
          }
          span {
            margin-right: 1rem;
            img {
              width: 1.5rem;
            }
          }
        }
      }
    }
  }
}

.col-md-6 {
  .col-sm-12 {
    &:first-child {
      .roadmap_Slider_data_left {
        .roadmap_Slider_data_left_content {
          margin-top: 0px;
          &:after {
            background-color: $greenclr !important;
            background: unset;
          }
        }
      }
      .roadmap_Slider_data_right {
        .roadmap_Slider_data_right_content {
          margin-top: 0px;
        }
      }
    }
    .roadmap_Slider_data_left {
      .roadmap_Slider_data_left_content {
        margin-top: 116px;
        @media (max-width: 767px) {
          margin-top: 0px;
        }
      }
    }
    .roadmap_Slider_data_right {
      .roadmap_Slider_data_right_content {
        margin-top: 116px;

        @media (max-width: 767px) {
          margin-top: 0px;
        }
      }
    }
  }
}
