@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
.connect_wallet .modal-dialog {
  display: flex;
  flex: 1;
  height: auto;
}
.connect_wallet .modal-dialog .modal-body {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 2.5rem;
}
.connect_wallet .modal-dialog .modal-content {
  background: #234e60;
  color: #ffffff;
  border-radius: 1rem;
}
.connect_wallet .modal-dialog .modal-content .modal-header {
  border-bottom: 0;
  padding: 2rem 2rem 1.5rem;
}
.connect_wallet .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 2.6rem;
  font-weight: 700;
}
.connect_wallet .modal-dialog .modal-content .modal-header .btn-close {
  background: url(../../../assets/Images/close.svg) center no-repeat;
  outline: none;
  position: absolute;
  z-index: 9;
  right: 2.5rem;
  opacity: 1;
  filter: brightness(0) invert(1);
}
.connect_wallet .modal-dialog .modal-content .modal-header .btn-close:focus {
  box-shadow: unset;
  outline: unset;
}
.connect_wallet .modal-dialog .modal-content .connect_options ul li {
  display: block;
  margin: 2rem 0;
}
.connect_wallet .modal-dialog .modal-content .connect_options ul li:last-child {
  margin-bottom: 0;
}
.connect_wallet .modal-dialog .modal-content .connect_options ul li .btn {
  color: #ffffff;
  display: block;
  background: #0c2936;
  position: relative;
  border: 0;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 700;
  width: 100%;
  padding: 2rem;
  border-radius: 1.4rem;
}
.connect_wallet .modal-dialog .modal-content .connect_options ul li .btn:hover {
  background: rgba(255, 255, 255, 0.6);
  border: 0;
}
.connect_wallet .modal-dialog .modal-content .connect_options ul li .btn span {
  background-color: #ffffff;
  display: block;
  width: 4rem;
  height: 4rem;
  display: flex;
  position: absolute;
  right: 2rem;
  top: 1.1rem;
  border-radius: 0.6rem;
  justify-content: center;
  align-items: center;
}
.connect_wallet .modal-dialog .modal-content .connect_options ul li .btn span img {
  width: 2.5rem;
}

.claimToken_Modal .tabs_sec {
  justify-content: space-around;
}
.claimToken_Modal .tabs_sec li.nav-item {
  font-size: 16px;
}
.claimToken_Modal .tabs_sec li.nav-item .nav-link {
  font-family: "Catamaran", sans-serif;
  border-radius: 15px 15px 0 0;
  padding-top: 10px;
  color: #f8f8f8;
  border: 1px solid transparent;
}
.claimToken_Modal .tabs_sec li.nav-item .nav-link.active {
  color: #438d87;
}
.claimToken_Modal .claimToken_Content {
  text-align: center;
}
.claimToken_Modal .claimToken_Content .claimToken_list li {
  background-color: #18524e;
  padding: 1rem 2rem;
  border-radius: 10rem;
  margin: 1rem 0;
}
.claimToken_Modal .claimToken_Content .claimToken_list li h4 {
  margin-bottom: 0;
  font-size: 1.8rem;
}
.claimToken_Modal .claimToken_Content .claimToken_list li span {
  font-size: 1.8rem;
}
.claimToken_Modal .claimToken_Content .timerBox {
  margin-bottom: 1rem;
}
.claimToken_Modal .claimToken_Content .timerBox .timerBox__title {
  display: none;
}
.claimToken_Modal .claimToken_Content .timerBox .useTimerBox .useTimerBox__item {
  margin: 0 5px;
  min-width: auto;
  width: 25%;
  font-size: 2.4rem;
}
.claimToken_Modal .claimToken_Content .timerBox .useTimerBox .useTimerBox__item span {
  font-size: 1.6rem;
}/*# sourceMappingURL=ClaimTokenModal.css.map */