@import "../../assets/_var.scss";
.info-card {
  padding: 48px 30px;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 30px;
  }
  &__text {
    p {
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 8px;
    }
  }
}
