@import "../../../assets/_var.scss";

.comn-heading {
  position: relative;

  // .title-main {
  //   color: $white;
  //   position: relative;
  //   z-index: 1;
  //   margin-bottom: 7.5rem;
  //   @media (max-width: 767px) {
  //     margin-bottom: 4rem;
  //   }
  // }

  .comn-heading__subtxt {
    position: absolute;
    top: -7.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 12.2rem;
    color: #000;
    font-weight: 700;
    @media (max-width: 1199px) {
      font-size: 8rem;
      top: -4.5rem;
    }
    @media (max-width: 767px) {
      font-size: 5rem;
      top: -3rem;
    }
  }
  &--token {
    .title-main {
      color: $white;
    }
    &__subtxt {
      color: #ffffff08;
    }
  }

  
}
