@import "../../../../assets/_var.scss";

.dashboardPage {
  &__firstCard {
    margin-bottom: 20px;
  }
}

.buy-form {
  padding: 35px 30px;
  span {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 50px;
    }

    h5 {
      font-size: 20px;
    }
  }
  .bal-text {
    margin-top: -5px;
    font-size: 14px;
    color: $textDark;
    strong {
      font-weight: 500;
    }
  }
  .btnStyle {
    height: 55px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
}
