@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

$baseFont: "Catamaran", sans-serif;
$baseFont1: "Chivo", sans-serif;

$baseBg: #ffffff;
$baseBg-2: #f8f8f5;
$darkBg: #0d4842;
$black: #000000;
$palewhite: #f8f8f8;
$greenclr: #438d87;
$textlight-2: #88a0bc;
$greyclr: #71767d;
$baseColor: #234e60;
$secondaryColor: #eff5f8;
$hardbg: #0f2c3a;
$darkbg: #0c2936;
$purpleclr: #604ABA;
$radiantred: #DB4F3C;
$aquaclr: #66E9E9;
$white: #ffffff;
$lightWhite: #f7f8fd;
$lightRed: #ff6066;
$darkgreen: #3e778e;
$lightRed2: #f16369;
$lightRed3: #ee6369;
$extraLightRed: #e9666b;
$gradientBg: linear-gradient(270deg, #e9666b 0%, #ff5b62 100%);
$textDark: #15313d;
$textBlack: rgba(0, 0, 0, 0.4);
$textExtraDark: #0d0c19;
$lightGrey: #355f70;
$textGrey: #4c4c4c;
$textGrey2: #71767d;
$bordergrey: rgba(47, 56, 71, 0.1);
$greenbg: #3cc99a;
$orangebg: #e97055;
$bluebg: #29a2fb;
$gradient-img: radial-gradient(farthest-corner at 37px 82px,
                #355f70 0%,
                #0d2a35 42%);